body {
	margin: 0;
	/*background-color: #222;*/
	background-color: #FFF;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	background-color: #4B4B4B;
}

.page-container {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}

@media (max-width: 1400px) {
	.logo img {
		width: 175%;
	}
}

@media (max-width: 1300px) {
	.logo img {
		width: 185%;
		margin-top: 10px;
	}
}

@media (max-width: 1050px) {
	.logo img {
		width: 185%;
		margin-top: 10px;
	}
}

@media (max-width: 1000px) {
	.logo img {
		width: 195%;
		margin-top: 23%;
	}
}

/* ========== MAIN SECTION WITH IMAGES ===========  */

.image {
	display: none;
	width: 100%;
}

.carousel {
	width: 100%;
	top: 0;
	margin: 0 auto;
	display: relative;
}

.container {
	margin: auto;
	margin-top: -5px;
	width: 95%;
}

.home-about {
	background-image: url('../images/homeabout.jpg');
	background-size: cover;
	background-position: center;
	padding: 10em 0;
	color: white;
}

.home-about-textbox {
	margin: 0 auto;
	background-color: #222;
	padding: 10px 25px;
	width: 80%;
	outline: 2px solid red;
	outline-offset: -2.5em;
	position: relative;
	padding: 4em;
	box-shadow: 0 0 4em 0 rgba(0,0,0,.5);

}

.home-about-textbox h1 {
	position: absolute;
	top: -20px;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px;
	color: #BE2020;
	font-size: 35px;
	background-color: #222;
	padding-bottom: 0;
	font-weight: 300;
	text-align: center;

}

.home-about-textbox p {
	padding: 30px;
	font-size: 20px;
}

/*========= More information about the service =========*/

.moreInfo {
	margin: 0 auto;
}

.moreInfo h1{
	text-align: center;
	text-transform: uppercase;
	color: white;
}

.topInfo {
	margin: 0 auto;
	background-color: #4B4B4B;
	padding: 10px 20px;
	color: white;
	font-size: 18px;

}

.top-info-picture {
	display: inline-block;
	width: 30%;
	margin: 0 auto;
}

.top-info-box {
	display: inline-block;
	width: 68%;
	float: right;
	padding-top: 7%;
	font-size: 14px;
}

.midInfo {
	margin: 0 auto;
	padding: 10px 20px;
	color: white;
	background-color: #2D2D2D;
	font-size: 18px;
}

.mid-info-picture {
	display: inline-block;
	width: 30%;
	margin: 0 auto;
}

.mid-info-box {
	display: inline-block;
	float: left;
	width: 68%;
	padding-top: 7%;
	font-size: 14px;

}

.bottomInfo {
	margin: 0 auto;
	background-color: #4B4B4B;
	padding: 10px 20px;
	color: white;
	font-size: 18px;
}


.button {
	border: 2px solid black;
	background-color: #e60f0f;
	outline: none;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.5em;
	padding: 10px 25px;
	transition: all ease-in-out 150ms;
	border-radius: 10px;
}

.button:hover {
	background-color: #9a1515;
	color: white;
}

.buttonInfo {
	margin: auto;
	margin-top: 20px;
	text-align: center;
}

@media (min-width: 1210px) {
	.top-info-box {
		display: inline-block;
		width: 68%;
		float: right;
		padding-top: 10%;
		font-size: 18px
	}

	.mid-info-box {
		display: inline-block;
		float: left;
		width: 68%;
		padding-top: 10%;
		font-size: 18px;

	}
}
